
.app{
  color: white;
  position: relative;
  overflow-x: hidden;
}


.bg-pic {
  position: absolute;
  bottom: 0;
  inset: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  background-color: #080e1b; /* Equivalent to bg-slate-950 */
}

.circle-left,
.circle-right {
  position: absolute;
  bottom: 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: radial-gradient(circle farthest-side, rgba(255, 0, 182, 0.15), rgba(255, 255, 255, 0));
}

.circle-left {
  left: -20%;
  top: -5%;
}

.circle-right {
  right: -20%;
  top: -5%;
}